*
{
    box-sizing: border-box;
}
.container {
    border: solid green;
    justify-content: center;
    width: 100%;
    /* gap: 10px; */
    display: flex;
    flex-direction: column;

}
.header {
    background-color: yellowgreen;
    height: 100px;
    text-align: center;
    padding: 10px;

}
.navigation {
    background-color: gray;

}
.navigation .navs {
    display: flex;
    list-style: none;
    padding:10px;
    column-gap: 40px;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;

}
.article {
    display: flex;
    /* border: 1px solid green; */
    margin-top: 0;
    padding-top: 0;
    border-collapse: collapse;
}
.article1 {
width: 800px;
padding: 10px;
border: 1px solid green;
}
.article2 {
    width: 800px;
    padding: 10px;
    border: 1px solid green;
}
.article3 {
    width: 800px;
    padding: 10px;
    border: 1px solid green;
}
@media screen and (max-width: 600px){
    .article {
      flex-wrap: wrap;
    }
    .navigation .navs{
        flex-wrap: wrap;
    }
}