* {
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    /* height: 90vh; */
    width: 1000px;
    margin: auto;
    /* border: 1px solid gray; */
    
}
.container1 {
    grid-column: 1 / 2;
    background-color: aquamarine;
    padding: 20px;
}

.container2 {
    grid-column: 2 / 4;
    padding: 20px;
}
form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
}
input,
textarea {
width: 100%;
}
textarea {
    min-height: 100px;
    max-height: 100px;
    max-width: 100%;
    min-width: 100%;
}
.item1 {
   grid-area: 1/1;
   grid-row-start: 1;
   grid-row-end: 2;
   padding: 10px;
 }
 .item2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 10px;
 }
 .item3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 10px;
 }
 .item4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 10px;
 }
 .item5 {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
    padding: 10px;
 }
 .item6 {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
    padding: 10px;
 }
input {
    padding: 5px;
}

.item6 input {
     border: 0;
     font-size: 15px;
     padding: 10px;
     background-color: hsl(171, 56%, 78%);
     
     color: #fff ;
     border-radius: 4px;
}
.item6 input:hover {
    background-color: #fa0202;
    color: #fcf6f6;
    cursor: pointer;
    
 }