%btn-style {
    @include font-style ($desktop-font, 'Arial', 500, color white);
    text-decoration: none;
    border-radius: 5px;
    min-height: 50px;
    padding: 0 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    
}

.btn {
//  ampersand
        &-navy {
            @extend %btn-style;

            color: $white;
            background-color: crimson;
            border: 1px solid $primary-blue;
        }

        &-white {
            @extend %btn-style;

            color: $primary-blue;
            background-color: $white;
            border: 1px solid $primary-blue;
        }
}