* {
    box-sizing: border-box;

}
header,
footer {
    background-color: yellowgreen;
    height: 10vh;
    padding: 15px;
}

main {
    height: 80vh;
    display: flex;
    
 
}
aside
{
    width: 25%;
    
    background-color: darksalmon;
  
}
nav {
    width: 25%;
    
    background-color:blanchedalmond;
   
}
body {
    margin: 0;
      /* justify-content: space-around; */
}

article {
    background-color: aquamarine;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
    height: 75vh;
    padding: 15px;
    width: 50%;
  
    
}
    
.container {
    margin-top: 10px;
    padding-top: 10px;
   display: flex;
   padding-right: 50px;
    column-gap: 0;
    

}
.flex-box.left {
    width: 70%;
    
}

.field {
    
    display: flex;
    margin-bottom: 15px; 
padding-left: 100px;
padding-right: 80px;
}

.field.field4 input {
    flex: 1
}
.field label {
        flex: 1; }

.field input,
select {
    flex: 2;
    padding: 5px;
    }
/* .field select {
    flex: 1;
    padding: 5px;
} */
.btn-container {
text-align: center;
}

    input[type="submit"] {
        border: 0;
        padding: 10px;
        background-color: red;
        border-radius: 5px;
        color:white }

.flex-box.right {
    margin-right: 100px ;
    padding-right: 50px;
}

       