* {
    box-sizing: border-box;

}

.top-address {
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
}

.nav-bar {
    background-color: grey;

}
nav ul {
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    list-style: none;
    padding: 10px;
    margin: 0, 10px;

    
}

nav li:hover{ 
    background-color: #FFFFFF44;
}
nav a {
    color: inherit;
    text-decoration: none;
}