* {
    box-sizing: border-box;
}

header,
footer {
    height: 10vh;
    padding: 10px;
    background-color: yellowgreen;
}
main {
    display:flex;
    height: 200px;
}
main {
    display: flex;
    height: 80vh;
}
/* vh = viewport height - hight ng buong page */

nav {
    background-color: bisque;
    width: 20%;
    padding: 10px;
}
article {
    background-color: beige;
    width: 60%;
    padding: 10px;
}
aside {
    background-color:darksalmon;
    width: 30%;
    padding: 20px;
}
body {
    margin: 0;
}