

.header {
    text-align: center;
}
.all {
    background-color: aqua;
    border: 1;
}
.tech {
    text-align: center; }


.header {
    text-align: center;
}
.all {
    background-color: aqua;
    border: 1;
}
.tech {
    text-align: center;
}